/.idea
/.vscode
/.ignore
/.coverage
/database/database.sqlite
/docker/.storage
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/app/**/Exxample*.php
/database/**/Exxample*.php
/tests/**/Exxample*.php
.env
.env.testing
.env.backup
.env.*.exx.env
.phpunit.result.cache
